USE [master]
GO
/****** Object:  Database [WinFormsVuelos]    Script Date: 31/10/2022 20:57:44 ******/
CREATE DATABASE [WinFormsVuelos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WinFormsVuelos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\WinFormsVuelos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WinFormsVuelos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\WinFormsVuelos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WinFormsVuelos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WinFormsVuelos]
GO
/****** Object:  Table [dbo].[Vuelos]    Script Date: 31/10/2022 20:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vuelos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Origen] [nvarchar](50) NOT NULL,
	[Destino] [nvarchar](50) NOT NULL,
	[Fecha] [date] NULL,
	[Pasajeros] [int] NULL,
 CONSTRAINT [PK_Vuelos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
